In [2]:
import great_expectations as ge
import pandas as pd

In [3]:
# Load dataset hasil transformasi
file_path = "/Users/azkairsyadchoir/Downloads/Hacktiv8/p2-ftds024-hck-m3-Azka24-ui/dags/P2M3_azka_data_clean.csv"
df = pd.read_csv(file_path)

In [4]:
# Convert DataFrame ke GE DataFrame
df_ge = ge.from_pandas(df)

# Cek beberapa baris pertama
df_ge.head()

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale
0,2,2022-08-23,Vadapav,Fastfood,20.0,15,300.0,Cash,M,Afternoon
1,3,2022-11-20,Vadapav,Fastfood,20.0,1,20.0,Cash,M,Afternoon
2,4,2023-02-03,Sugarcane juice,Beverages,25.0,6,150.0,Online,M,Night
3,5,2022-10-02,Sugarcane juice,Beverages,25.0,8,200.0,Online,M,Evening
4,6,2022-11-14,Vadapav,Fastfood,20.0,10,200.0,Cash,M,Evening

### Validasi Kolom Harus Unik (to be unique)

In [5]:
expectation_result = df_ge.expect_column_values_to_be_unique("order_id")
expectation_result

{
  "success": true,
  "result": {
    "element_count": 999,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

### Validasi Nilai Harus dalam Rentang (to be between min_value and max_value)

In [7]:
df_ge.expect_column_values_to_be_between("item_price", min_value=1, max_value=500)

{
  "success": true,
  "result": {
    "element_count": 999,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

### Validasi Nilai Harus dalam Daftar (to be in set)

In [8]:
df_ge.expect_column_values_to_be_in_set("transaction_type", ["Cash", "Online"])

{
  "success": true,
  "result": {
    "element_count": 999,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

### Validasi Tipe Data (to be in type list)

In [9]:
df_ge.expect_column_values_to_be_of_type("quantity", "int")

{
  "success": true,
  "result": {
    "observed_value": "int64"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

### Tambahan 3 expectation

### Validasi Panjang String di item_name
Misalnya, nama item tidak boleh lebih dari 50 karakter:

In [10]:
df_ge.expect_column_value_lengths_to_be_between("item_name", min_value=1, max_value=50)

{
  "success": true,
  "result": {
    "element_count": 999,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

### Validasi Tanggal Tidak Ada di Masa Depan

Pastikan date tidak lebih dari hari ini:

In [11]:
from datetime import datetime

df_ge.expect_column_values_to_be_between(
    "date", 
    min_value="2000-01-01", 
    max_value=datetime.today().strftime("%Y-%m-%d")
)

{
  "success": true,
  "result": {
    "element_count": 999,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

### Validasi Jumlah Penjualan (quantity) Tidak Negatif

In [12]:
df_ge.expect_column_values_to_be_between("quantity", min_value=1, max_value=1000)

{
  "success": true,
  "result": {
    "element_count": 999,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [13]:
validation_result = df_ge.validate()
validation_result

{
  "success": true,
  "results": [
    {
      "success": true,
      "expectation_config": {
        "expectation_type": "expect_column_values_to_be_unique",
        "kwargs": {
          "column": "order_id",
          "result_format": "BASIC"
        },
        "meta": {}
      },
      "result": {
        "element_count": 999,
        "missing_count": 0,
        "missing_percent": 0.0,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "unexpected_percent_total": 0.0,
        "unexpected_percent_nonmissing": 0.0,
        "partial_unexpected_list": []
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "expectation_type": "expect_column_values_to_be_between",
        "kwargs": {
          "column": "item_price",
          "min_value": 1,
          "max_value": 500,
          "result_format": "BASIC"
        },
        "meta": {}
      },
      "result": {
        "element_count": 999,
        "missing_count": 0,
        "missing_percent": 0.0,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "unexpected_percent_total": 0.0,
        "unexpected_percent_nonmissing": 0.0,
        "partial_unexpected_list": []
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "expectation_type": "expect_column_values_to_be_in_set",
        "kwargs": {
          "column": "transaction_type",
          "value_set": [
            "Cash",
            "Online"
          ],
          "result_format": "BASIC"
        },
        "meta": {}
      },
      "result": {
        "element_count": 999,
        "missing_count": 0,
        "missing_percent": 0.0,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "unexpected_percent_total": 0.0,
        "unexpected_percent_nonmissing": 0.0,
        "partial_unexpected_list": []
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "expectation_type": "expect_column_values_to_be_of_type",
        "kwargs": {
          "column": "quantity",
          "type_": "int",
          "result_format": "BASIC"
        },
        "meta": {}
      },
      "result": {
        "observed_value": "int64"
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "expectation_type": "expect_column_values_to_be_between",
        "kwargs": {
          "column": "quantity",
          "min_value": 1,
          "max_value": 1000,
          "result_format": "BASIC"
        },
        "meta": {}
      },
      "result": {
        "element_count": 999,
        "missing_count": 0,
        "missing_percent": 0.0,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "unexpected_percent_total": 0.0,
        "unexpected_percent_nonmissing": 0.0,
        "partial_unexpected_list": []
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "expectation_type": "expect_column_value_lengths_to_be_between",
        "kwargs": {
          "column": "item_name",
          "min_value": 1,
          "max_value": 50,
          "result_format": "BASIC"
        },
        "meta": {}
      },
      "result": {
        "element_count": 999,
        "missing_count": 0,
        "missing_percent": 0.0,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "unexpected_percent_total": 0.0,
        "unexpected_percent_nonmissing": 0.0,
        "partial_unexpected_list": []
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "expectation_type": "expect_column_values_to_be_between",
        "kwargs": {
          "column": "date",
          "min_value": "2000-01-01",
          "max_value": "2025-02-09",
          "result_format": "BASIC"
        },
        "meta": {}
      },
      "result": {
        "element_count": 999,
        "missing_count": 0,
        "missing_percent": 0.0,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "unexpected_percent_total": 0.0,
        "unexpected_percent_nonmissing": 0.0,
        "partial_unexpected_list": []
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    }
  ],
  "evaluation_parameters": {},
  "statistics": {
    "evaluated_expectations": 7,
    "successful_expectations": 7,
    "unsuccessful_expectations": 0,
    "success_percent": 100.0
  },
  "meta": {
    "great_expectations_version": "0.18.19",
    "expectation_suite_name": "default",
    "run_id": {
      "run_name": null,
      "run_time": "2025-02-09T19:40:15.689745+07:00"
    },
    "batch_kwargs": {
      "ge_batch_id": "9db48f9c-e6e0-11ef-8753-cac87c8b9f6c"
    },
    "batch_markers": {},
    "batch_parameters": {},
    "validation_time": "20250209T124015.689533Z",
    "expectation_suite_meta": {
      "great_expectations_version": "0.18.19"
    }
  }
}

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            999 non-null    int64
 1   date                999 non-null    object
 2   item_name           999 non-null    object
 3   item_type           999 non-null    object
 4   item_price          999 non-null    float64
 5   quantity            999 non-null    int64
 6   transaction_amount  999 non-null    float64
 7   transaction_type    999 non-null    object
 8   received_by         999 non-null    object
 9   time_of_sale        999 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 78.2+ KB

In [20]:
df = df.sort_values(by="date", ascending=True)
df

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale
689,691,2022-04-01,Sandwich,Fastfood,60.0,7,420.0,Cash,F,Evening
570,572,2022-04-02,Sandwich,Fastfood,60.0,15,900.0,Cash,M,Afternoon
621,623,2022-04-02,Cold coffee,Beverages,40.0,15,600.0,Cash,M,Midnight
518,520,2022-04-03,Panipuri,Fastfood,20.0,11,220.0,Online,F,Night
411,413,2022-04-03,Aalopuri,Fastfood,20.0,10,200.0,Online,F,Midnight
...,...,...,...,...,...,...,...,...,...,...
430,432,2023-03-27,Panipuri,Fastfood,20.0,6,120.0,Online,M,Afternoon
774,775,2023-03-27,Sandwich,Fastfood,60.0,6,360.0,Cash,M,Night
546,548,2023-03-29,Cold coffee,Beverages,40.0,14,560.0,Cash,M,Afternoon
95,97,2023-03-29,Cold coffee,Beverages,40.0,13,520.0,Online,M,Evening
980,982,2023-03-30,Sugarcane juice,Beverages,25.0,14,350.0,Cash,F,Night

In [1]:
! pip install psycopg2

Requirement already satisfied: psycopg2 in /opt/anaconda3/lib/python3.12/site-packages (2.9.10)